<form id="login_form">
    <div class="LoginWindow">
        <div>
            <div class="login">
                <p><input type="text" name="username" id="id" placeholder="用户名" value=""></p>
                <p><input type="password" name="password" id="password" placeholder="密码" value=""></p>
                <p class="login-submit"><button type="submit" class="login-button" id="submit">登录</button></p>
            </div>
            <p class="registration  btn" id="regiest"><a>快速注册</a></p>
        </div>
    </div>
</form>

<form id="regiest_form">
    <div class="box">
        <div class="regiest">
            <p><input type="text" id="username" placeholder="用户名" name="username"></p>
            <p><input type="text" id="nickname" placeholder="昵称" name="nickname"></p>
            <p><input type="password" id="password_regiest" placeholder="密码" name="password"></p>
            <p><input type="password" id="finalPWD" placeholder="确认密码"></p>
            <div id="btn2">
                <ul>
                    <li><input type="button" value="关闭" class="colse" /></li>
                    <li><input type="submit" value="提交" class="sumbmit" /></li>
                </ul>
            </div>
        </div>
    </div>
</form>