<div class="callout  home">
    <h3>欢迎来到饿了吗后台管理系统</h3>
    <div class="container">
        <div style="width:53%;margin:80px auto;">
            <div id="circles-container">
                <div id="main-circle-content"></div>
                <div id="circle">
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a1.png">
                            <img src="/static/libs/adminLTE/images/a1.png" alt="">
                        </a>
                        <div class="content-text">Caption 1</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a2.png">
                            <img src="/static/libs/adminLTE/images/a2.png" alt="">
                        </a>
                        <div class="content-text">Caption 2</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a3.png">
                            <img src="/static/libs/adminLTE/images/a3.png" alt="">
                        </a>
                        <div class="content-text">Caption 3</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a4.png">
                            <img src="/static/libs/adminLTE/images/a4.png" alt="">
                        </a>
                        <div class="content-text">Caption 4</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a5.png">
                            <img src="/static/libs/adminLTE/images/a5.png" alt="">
                        </a>
                        <div class="content-text">Caption 5</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a6.png">
                            <img src="/static/libs/adminLTE/images/a6.png" alt="">
                        </a>
                        <div class="content-text">Caption 6</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a7.png">
                            <img src="/static/libs/adminLTE/images/a7.png" alt="">
                        </a>
                        <div class="content-text">Caption 7</div>
                    </div>
                    <div class="min-circle" data-inside="min-circle"> <a href="/static/libs/adminLTE/images/a4.png">
                            <img src="/static/libs/adminLTE/images/a4.png" alt="">
                        </a>
                        <div class="content-text">Caption 8</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>